//side nav

.sidenav {
    @media (max-width: @screen-xs-min) {
        display: none;
    }
}
.sidenav-mobile {
    @media (max-width: @screen-xs-min) {
        display: block;
    }
    @media (min-width: @screen-xs-min) {
        display: none;
    }
}
.left-menu {
    display: none;
}
