<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% if page.url == none %}
    <title>{{ site.name }}</title>
    {% else %}
    <title>{{ page.title }}</title>
    {% endif %}
    <meta name="author" content="{{site.author}}">
    <meta name="description" content="{{site.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{{ site.url }}/favicon.png" />
    <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/apple-touch-icon.png" />

    <link rel="stylesheet" href="{{ site.url }}/dist/css/main.css" />
    <link rel="stylesheet" href="{{ site.url }}/dist/css/font-awesome.css" />
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
    <script src="{{ site.url }}/dist/js/nodemodules/require.js" data-main="{{ site.url }}/dist/js/main"></script>
</head>
<body>
<div class="container">
