{% if paginator.total_pages > 1 %}
<div class="center">
  {% if paginator.previous_page %}
   {% if paginator.previous_page == 1 %}
    <a href="{{ paginator.previous_page_path }}">
        <span class="glyphicon glyphicon-circle-arrow-left"></span>
    </a>
    {% else %}
    <span class="glyphicon glyphicon-circle-arrow-left gray"></span>
    {% endif %}
  {% else %}
    <span class="glyphicon glyphicon-circle-arrow-left gray"></span>
  {% endif %}

    <span class="paginfo">
        {{ paginator.page }} / {{ paginator.total_pages }}
    </span>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">
        <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
  {% else %}
    <span class="glyphicon glyphicon-circle-arrow-right gray"></span>
  {% endif %}
</div>
{% endif %}
