{% if paginator.total_pages > 1 %}
<div class="center">
  {% if paginator.previous_page %}
   {% if paginator.previous_page == 1 %}
      <a href="/">Previous</a>
    {% else %}
      <a href="{{ paginator.previous_page_path }}">Previous</a>
    {% endif %}
  {% else %}
    <span class="gray">Previous</span>
  {% endif %}

  {{ paginator.page }} / {{ paginator.total_pages }}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">Next</a>
  {% else %}
    <span class="gray">Next</span>
  {% endif %}
</div>
{% endif %}
