<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 affix">
    <span class="avator"></span>
    <h3><a href="{{site.url}}">{{site.name}}</a></h3>
    <p>{{site.description}}</p>
    <div class="row">
        <div class="col-sm-11 col-md-12 col-lg-10">
            <div class="input-group">
                <input id="J_search"  placeholder="Simple Search" type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </div>
    <p></p>
    <ul class="nav">
        <li>
            <a href="/categories" title="Categories">
                {% if include.open %}
                <span style="margin-right:10px;" class="glyphicon glyphicon-folder-open"></span>
                {% else %}
                <span style="margin-right:10px;" class="glyphicon glyphicon-folder-close"></span>
                {% endif %}
                Categories
            </a>
        </li>
        <li>
            <a href="/test" title="About me">
                <span style="margin-right:10px;" class="glyphicon glyphicon-user"></span>
                About me
            </a>
        </li>
    </ul>
</div>
