<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 affix hidden-sm hidden-xs">
    <span class="avator"></span>
    <div class="intr">
        A passionate
        <p class="desc">
            {% for desc in site.description %}
              <b class="hidden">{{desc}}</b>
            {% endfor %}
        </p>
        <p class="follow">Follow me:
            <a href="https://www.linkedin.com/in/lizhihao">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            |
            <a href="https://github.com/codinfox">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            |
            <a href="mailto:elliot130@163.com">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
        </p>
    </div>
<!--    <div class="row">
        <div class="col-sm-11 col-md-12 col-lg-10">
            <div class="input-group">
                <input id="J_search"  placeholder="Simple Search" type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </div>-->
    <p></p>
    <ul class="nav">
        <li>
            <a href="{{site.url}}" title="Home">
                <span style="margin-right:10px;" class="glyphicon glyphicon-home"></span>
                Home
            </a>
        </li>
        <li>
            <a href="/categories" title="Categories">
                {% if include.open %}
                <span style="margin-right:10px;" class="glyphicon glyphicon-folder-open"></span>
                {% else %}
                <span style="margin-right:10px;" class="glyphicon glyphicon-folder-close"></span>
                {% endif %}
                Categories
            </a>
        </li>
        <li>
            <a href="/tags" title="Tags">
                <span style="margin-right:10px;" class="glyphicon glyphicon-tags"></span>
                Tags
            </a>
        </li>
        <li>
            <a href="/aboutme" title="About me">
                <span style="margin-right:10px;" class="glyphicon glyphicon-user"></span>
                About me
            </a>
        </li>
    </ul>
</div>
<script>
    (function(){
        document.addEventListener('DOMContentLoaded', function(){
            var children = document.getElementsByClassName('desc')[0].children;
            var length = children.length;
            var idx = 0;
            children[idx].className = "visible";
            setInterval(function(){
                children[idx].className = "hidden";
                idx = (idx + 1) % length;
                children[idx].className = "visible";
            }, 2000);
        });
        //https://codinfox.github.io/
    })();
</script>
