<div class="col-xs-3 sidebar">
    <div class="bs-sidebar hidden-print affix" role="complementary">
        <h1 class="h2 m-0"><a href="{{site.url}}">{{site.name}}</a></h1>
        <p>{{site.description}}</p>
        <input id="J_search" placeholder="Simple Search"/>
        <ul class="nav bs-sidenav">
            <li>
                <a href="/categories" title="Categories">
                    <span style="margin-right:10px;" class="glyphicon glyphicon-folder-open"></span>
                    Categories
                </a>
            </li>
            <li>
                <a href="/categories" title="Categories">Categories</a>
            </li>
            <li>
                <a href="/categories" title="Categories">Categories</a>
            </li>
        </ul>
    </div>
</div>
