<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 affix">
    <span class="avator"></span>
    <h1 class="h2 m-0 blog-name"><a href="{{site.url}}">{{site.name}}</a></h1>
        <p>{{site.description}}</p>
            <div class="input-group">
                <input id="J_search"  placeholder="Simple Search" type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        <ul class="nav">
            <li>
                <a href="/categories" title="Categories">
                    <span style="margin-right:10px;" class="glyphicon glyphicon-folder-open"></span>
                    Categories
                </a>
            </li>
            <li>
                <a href="/categories" title="Categories">
                    <span style="margin-right:10px;" class="glyphicon glyphicon-user"></span>
                    About me
                </a>
            </li>
        </ul>
</div>
